img {
  color: yellow;
  font-size: 30px;
}
.temperature {
  color: black;
  font-weight: normal;
}
.container {
  background: linear-gradient(
    122.3deg,
    rgb(111, 71, 133) 14.6%,
    rgb(232, 129, 166) 29.6%,
    rgb(237, 237, 183) 42.1%,
    rgb(244, 166, 215) 56.7%,
    rgb(154, 219, 232) 68.7%,
    rgb(238, 226, 159) 84.8%
  );
  text-align: left;
  text-decoration: none;
  max-width: 700px;
  height: 400px;
  border: 2px solid lightblue;
  border-radius: 40px;
}

li {
  font-size: 20px;
  list-style: none;
}
li:first-letter {
  text-transform: capitalize;
}
body {
  text-align: center;
  margin: 20px;
  font-family: "Times New Roman", Times, serif;
}
#temperature {
  font-size: 26px;
  margin: 0px 0px 0px 8px;
  padding: 3px;
}

#city {
  margin: 10px;
}
i {
  padding: 10px;
}
