.forecast-weather-temperature-min {
  color: rgba(92, 88, 88, 0.653);
}
.temperature {
  color: black;
  font-weight: normal;
}
.container {
  position: fixed;
  margin-top: 100px;
  position: relative;
  text-align: left;
  text-decoration: none;
  max-width: 600px;
  max-height: 900px;
  background: linear-gradient(
    to top,
    rgb(43, 199, 188) 0%,
    rgb(219, 249, 203) 72.9%
  );
  border: 2px groove #7fd8ea1b;
  border-radius: 100px;
}
#city-input {
  margin: 10px;
}
#forecast {
  position: relative;
  margin-left: 10px;
}
.update {
  font-size: 15px;
  font-weight: lighter;
  color: rgba(92, 88, 88, 0.653);
}
#button {
  text-decoration: none;
  position: relative;
  margin-top: 11px;
}
#description {
  font-size: 15px;
  font-weight: lighter;
  color: rgba(92, 88, 88, 0.653);
}
li {
  font-size: 18px;
  list-style: none;
}
li:first-letter {
  text-transform: capitalize;
}
body {
  text-align: center;
  margin: 0px;

  font-family: "Times New Roman", Times, serif;
  box-sizing: border-box;
  color: #095b81d5;
}
#temperature {
  font-size: 30px;
  margin: 0px 0px 0px 8px;
  padding: 3px;
  position: relative;
}

#city {
  color: #14be9fd5;
  margin-left: 35px;
  margin-top: -15px;
}
img,
svg {
  margin-left: 20px;
}
form {
  margin: 10px;
}

#celcius-link,
#fahrenheit-link {
  font-size: 18px;
  position: relative;
  color: black;
  text-decoration: none;
}
#button {
  text-decoration: none;
}
.forecast-weather-temperatures,
.weather-forecast-date {
  margin-left: 20px;
}
small {
  margin-left: 50px;
}
#forecast {
  margin-left: 30px;
  text-align: center;
}
input,
#city-input.form-control {
  margin-left: 20px;
  text-align: center;
}
